.c-offerDescription{
    width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
}

.keywordsInputContainer{
    position: relative;
    &__addKeyword{
        position: absolute;
        right: 20px;
        top: calc(50% - 10px);
    }
}
.c-warning{
    font-size: 12px;
    color: var(--color--red);
    display: block;
  }