.c-candidates{
    // border-top-left-radius: 20px 20px;
    // border-top-right-radius: 20px 20px;
    // padding-bottom: 3rem;
    padding-top: 1rem;
    width: 100%;

        &__gallery{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            margin-top: 1.5rem;
            width: 100%;
            height: 76.5%;
            overflow: scroll;
            border-radius: 10px;
            padding-bottom: 2rem;
        }
    
        &__form{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color:var(--color--lightgrey);
            margin-bottom: 1rem;
            margin-top: -1rem;
    
            &--input{
                margin-top:1em ;
                display: flex;
                align-items: center;

                // & input{
                //     height: 1.3rem;
                //     width: 1.3rem;
                //     // background-color: var(--color--red);
                //     // border: none;
                //     // border-radius: 100%;
                // }

                & div{
                    height: 1.3rem;
                    width: 1.3rem;
                    background-color: var(--color--lightblue);
                    border: none;
                    border-radius: 3px;
                    margin-right: 8px;
                }
            }


        }
    
        &__containers{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }