.c-search{
    display: flex;
    align-items: center;

    &--inOffers{
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &__img{
        flex:1;
        padding: 0 0.6rem;
        display: flex;
        align-items: center;
    }

    &__chatLink{
        flex:1;
        padding: 0 0.6rem !important; //??
        text-align: center;
        font-size: 1.75rem;
    }

    &__searchbar{
        display: flex;
        align-items: center;
        width: 100%;
        flex: 7;
        background-color: var(--color--lightblue);
        border-radius: 10px;
        height: 2.75rem;
        color: var(--color--grey);
    }
    
    &__form{
        display: flex;
        flex: 1;

        & label{
            padding-left: 12px;
        }

        & input {
            border-style: none;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif; //??     
            align-self: flex-start;  
            margin-left: 6px;     
            width: 100%;
        }

    }

    &__spanform{
        margin-right: 12px;
        &--blue{
            font-weight: bold;
            color: var(--color--blue)
        }
    }

    &__menu{
        z-index: 1;
        position: absolute;
        overflow: hidden;
        width: 100%;
        padding: 1rem 9%;
        background-color: var(--color--palegrey);

        border-radius: 0 0 10px 10px;

        &--hidden{
            height: 0;
        }

        &__item{
            width: 100%;
            padding: 18px;
            margin: 10px 0;
            border: 1px solid var(--color--lightgrey);
            border-radius: 10px;
            background-color: var(--color--white);

            font-size: 15px;
            font-weight: 500;

            margin: 16px 0;

            &::placeholder{
                font-weight: 400;
            }
        }

        
        &.enter {
            // opacity: 0;
            // transform: scale(0.9);

            height: 0;
        }
        &.enter-active {
            // opacity: 1;
            // transform: translateX(0);
            // transition: opacity 300ms, transform 300ms;

            height: 431px;
            transition: height 800ms;
        }
        &.exit {
            // opacity: 1;

            height: 431px;
        }
        &.exit-active {
            // opacity: 0;
            // transform: scale(0.9);
            // transition: opacity 300ms, transform 300ms;

            height: 0;
            transition: height 800ms;
        }
    }
}