.c-startOffer{

    & label{
        font-weight: 600;
    }

    &--center{
        margin-top: 15%;
    }

    & p{
        text-align: center;
        margin-bottom: 15%;
    }

    & a {
        display: block;
        text-align: center;
        color: var(--color--lightgreen);
        font-size: 15px;
    }

    & span{ //Guardar estos estilos para los span de alertas -- los voy a necesitar en los registros !!!
        margin-top: 10%;
        display: block;
        text-align: center;
        font-size: 15px;
        background-color: var(--color--red);
        padding: 1rem 0;
        border-radius: 10px;
    }

}