.navbar-transition-appear{
    transition: transform 800ms;
    transform: translateY(100%);

    &-active{
        transform: translateY(0);
    }
}

.offer-transition-appear{
    transition: transform 800ms;
    transform: translateY(70%);

    &-active{
        transform: translateY(0);
    }
}

.offerHome-transition-appear{
    transition: transform 800ms;
    transform: translateY(120%);

    &-active{
        transform: translateY(0);
    }
}

.header-transition-appear{
    transition: 800ms;
    opacity: 0;
    &-active{
        opacity: 1;
    }
}

.onBoarding-transition-appear{
    transition: transform 300ms;
    transform: translateX(100%);

    &-active{
        transform: translateX(0);
    }
}

