.c-addOfferQuestions{
    &__warning{
        font-size: 12px;
        color: var(--color--red);
    }

    &__addQuestionButton{
        width: 95%;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 20px;
        margin: 0;
        padding: 0 5px;

        color: var(--color--bluefont);
        background-color: var(--color--lightblue);
    }

    &__addQuestion{
        position: relative;

        &__icon{
            position: absolute;
            right: 20px;
            top: calc(50% - 10px);
        }
    }

    &__answers{
        position: relative;
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin: 5px 0;

        &__header{
            color: var(--color--bluefont);
            font-size: 15px;
            padding: 10px;
            margin: 0;

            &--answer{
                width: calc(60% - 5px);
            }
            &--score{
                width: 40%;
            }
        }

        &__item{
            display: flex;
            margin: 0;
            min-height: 39px;
            padding: 10px;

            border: 1px solid var(--color--lightgrey);
            border-radius: 10px;

            &--answer{
                width: calc(60% - 5px);
            }
            &--score{
                width: 40%;
            }  
        }

        &--newAnswer{
            margin: 20px 0 5px 0;
        }

        &__icon{
            position: absolute;
            right: -20px;
            top: calc(50% - 10px);
        }
    }
}