.c-offerQuestionsGallery{
    margin: 0;
    padding-left: 9%;
    &__question{
        margin-top: 10px;
        &::marker{
            font-weight: 500;
        }

        &__title{
            width: 100%;
            display: flex;
            font-weight: 500;
            justify-content: space-between;
        }
    
        &__answers{
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 5px 0;
            
            &__item{
                display: flex;
                align-items: center;
                margin: 0;
                min-height: 39px;
                padding: 10px;
                font-size: 0.8rem;
    
                border: 1px solid var(--color--lightgrey);
                border-radius: 10px;
    
                &--answer{
                    font-weight: 500;
                    width: calc(60% - 5px);
                }
                &--score{
                    width: 40%;
                }  
            }
        }
    }
    
}