.b-dark-theme{
    padding-top: 7.5%;
    height: 100%;
    background-color: var(--color--bckgDark);
    color: var(--color--white);

    & a{
        color: var(--color--white);
    }

    & label {
        color: var(--color--white);
    }

    & input{
        background-color: var(--color--light--blueBtn);
        color: var(--color--darkblue);

        &::placeholder{
            color: var(--color--bluefont);
        }
    }
}
    