.b-img-theme{
    padding-top: 7.5%;
    height: 100%;
    color: var(--color--white);
    position: relative;
    overflow: hidden;

    & label {
        color: var(--color--darkblue);
    }

    & input{
        background-color: var(--color--light--blueBtn);
        color: var(--color--darkblue);
        font-weight: 500;

        &::placeholder{
            color: var(--color--bluefont);
            font-weight: 400;
        }
    }

    &::before{
        content: "";
        position: absolute;
        width: 368%;
        height: 191%;
        top: -44%;
        left: -139%;
        z-index: -1;
        transform: rotate(27deg);

        background: url('../../../assets/images/meettalent-final.png'); 

        background-position: center; 
        background-repeat: no-repeat; 
        background-size: contain;
    
        background-color: var(--color--bckgDark);
    }

}

