.b-light-theme{
    padding-top: 7.5%;
    height: 100%;
    background-color: var(--color--palegrey);
    color: var(--color--darkblue);

    & header{
        color: var(--color--darkText);
    }

    & input{
        background-color: var(--color--white);
        color: var(--color--grey);

        &::placeholder{
            color: var(--color--grey);
        }
    }
}