.c-register{

    &__social{

        &__title{
            width: 100%;
            font-weight: 500;
            margin-bottom: 32px;
        }
    }

    &__separator{
        margin-top: 32px;
        margin-bottom: 32px;
    }

    & input{
        margin: 10px 0;
    }

    &__checkbox{
        display: flex;
        flex-direction: row;

        & input { //tamaño??
            margin-top: 6px;
        }
        & p{
            margin: 0;
            margin-left: 8px;
            font-size: 13px;
            line-height: 24px;
            
            & a{
                color: var(--color--blue);
            }
        }
    }

    &--pagetwo{
        padding-top: 32px;
    }
}

.c-warning{
    font-size: 12px;
    color: var(--color--red);
    display: block;
  }