.c-offercard{
    margin-bottom: 2rem;
    padding:0 8%;
    width: 100%;
    color:var(--color--darkText); 
    background-color: var(--color--white);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 19pt 0 rgba(0, 0, 0, 0.1);

    &__title{
        color: var(--color--darkText);
        text-align: start;
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0;
    }

    &__infoDetail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 0;
        margin-top: 22px;
         
        &__span{
            display: flex;
            justify-content: end;
        }

    }

    &__date{
        font-size: 1rem;
        color: var(--color--lightgrey);
    }

    &__lock{
        font-size: 1.5rem;
       
        color: var(--color--blue);
    }

    & hr{ //COLOR HR !!!
        border-top: 1px solid var(--color--lightgrey);
        width: 100%;
        margin-block: 0;
    }

    &__mainInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        & span{
            margin:1em 0;
            margin-right: 6.5px;
        }

        &__box{
            display: flex;
            flex-direction: row;
            
        }
    }

    &__lowOffer{
        display: flex;
        flex-direction:column;
        justify-content: space-between;

        &__item{
            margin: 21px 0;
            & *{
                color: var(--color--darkText);
                margin: 0;
            }
            & p{
                font-size: 26px;
                margin-block: 0;
            }
            & h6{
                font-weight: 400;
                margin-block: 0;
                margin:0;
                font-size: 14px;
            }
            
        }

        &--direction{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            padding-top: 16px;
            padding-bottom: 12px;

            
            & h5{
                margin: 0;
                font-size: 17px;
            }

            & h3{
                margin: 0;
                font-size: 24px;

            }

            &--completedOffer{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 1.4rem;

                padding-top: 30px;
                padding-bottom: 0px;
                & h5{
                    font-size: 1.15rem;
                }
                & span{
                    font-size: 2rem;
                    font-weight: 700;
                    color: rgb(0, 174, 68);
                    padding-right: 12px;
                }
            }
        }

    }

    &__lowOffer2{
        display: flex;
        flex-direction:row;
        justify-content: space-between;

        &--direction{
            flex-direction: row;
            text-align: center;
            &--completedOffer{
                justify-content: flex-start;
                align-items: center;
                font-size: 1.4rem;
                & span{
                    font-size: 2rem;
                font-weight: bold;
                color: green;
                }
            }
        }

    }
}

.check-square{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color--light--blueBtn);
    border-radius: 10px;
    margin-top: 1rem;


    &__span{
        font-size: 2rem;
        color:var(--color--darkgreen);
        justify-content: center;
        text-align: center;
        
       
    }

    &__nospan{
        font-size: 1rem;
        color:transparent;
    }
}

.partition_hackaton-box{
    flex: 5;
    margin-right:1rem;
}

.partition_hackaton-box2{
    flex: 3;
    padding-left: 1rem;
    border-left:1px solid var(--color--lightgrey);
    margin-bottom: 1rem;
}