.c-navbar{
    position: fixed;
    bottom:0;
    left:0;

    z-index: 10;

    width: 100%;
    padding-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;

    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    
    color:var(--color--darkblue); 
    background-color: var(--color--white);

    display: flex;
    align-items: center;
    justify-content: space-between;
    

    &__iconBlock{
        color:var(--color--darkblue);
        flex-direction: column;
        text-align: center;
        margin-top: 5%;

        &--active{
            font-weight: 600;
            color: var(--color--darkblue);
        }

        &__span{
            font-size: 1.5rem;
            font-weight: 400;
        }
        
        &__text{
            margin-top: 0.25rem;
            font-size: 0.7rem;
        }

    }
}