::-webkit-scrollbar {display: none;}

.c-offers{

    padding-top: 1rem;
    width: 100%;
    height: 100%;

    &__gallery{
        margin-top: 1.5rem;
        width: 100%;
        height: 76.5%;
        overflow: scroll;
        border-radius: 10px;
        padding-bottom: 2rem;
    }

    &__head{
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        &__item{
            font-weight: bold;

            &--green{
                transition: 800ms;
                color: var(--color--lightgreen);
            }
        }
    }
}