.c-onboarding{
    //REPASAR ESTO !!! px????
    padding: 27.5px 15px;

    & main{
        margin-top: 70px;
    }

    &__link{
        color: var(--color--darkblue);
        &--first{
            color: var(--color--white);
        }
    }

    &__header{
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }

    &__bullets{
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 40%;
        margin-bottom: 176px;
        width: 20%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bullet{
        width: 8px;
        height: 8px;
       
        border-radius: 100%;
        background-color: var(--color--lightgrey);

        &--selected{
            width: 12px;
            height: 12px;

            background-color: var(--color--bluefont);
        }
    }
}