.m-userMessage{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color--lightgrey);
    margin-bottom: 1rem;

    &__picture{
        width:3.75rem;
        height: 3.75rem;
        border-radius: 100%;
        object-fit: cover;
        object-position: 100% 0;
    }

    &__chat{
        margin-left: 1rem;
        text-align: justify;
        // color: var(--color--white);

        &--title{
            font-size: 1.1rem;

            &--active{
                color: var(--color--lightgreen);
            }
        }

        &--p{
            font-size: 0.8rem;
        }

    }
}
