.c-keywordsGallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__item{
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 70px;
        height: 40px;
        border-radius: 20px;
        margin: 0 auto 20px;
        padding: 0 35px 0 13px;

        color: var(--color--bluefont);

        background: url("../../../../assets/fonts/icons/x-circle-blue.svg") no-repeat var(--color--lightblue);
        background-position-x: calc(100% - 10px);
        background-position-y: center;
        background-size: 20px;

        &--inverted{
            background: url("../../../../assets/fonts/icons/x-circle-white.svg") no-repeat var(--color--blue);
            background-position-x: calc(100% - 10px);
            background-position-y: center;
            background-size: 20px;
            color: var(--color--white);
        }
    }
}