::-webkit-scrollbar {display: none;}

.c-home{
    text-align: center;
    width: 100%;

    height: 100%;

    display: flex;
    flex-direction: column;

    &__gallery{
        margin-top: 1.5rem;
        width: 100%;
        height: 80%;
        overflow: scroll;
        border-radius: 10px;
        padding-bottom: 2rem;
    }

    & h3{
        margin-bottom: 0;
    }

    &__welcome{
        margin-top: 25%;

        & h1{
            font-size: 2.175rem;
        }

        & p{
            font-size: 1.25rem;
            margin-top: 12.5%;
            line-height: 1.75rem;
            & a{
                color: var(--color--lightgreen);
            }
        }
    }

}