.c-create{
    text-align: center;
    width: 100%;
    margin-top: 22%;

    &__distance{
        margin-bottom: 2rem;
    }

    & hr{
        width: 100%;
        text-align: center;
        border:0.5px solid var(--color--darkblue);
        margin-top:3.5rem;
        margin-bottom: 3.5rem;
    }
}