.progress-bar{
    position: relative;
    height: 10px;
    width: 100%;
    border-radius: 50px;
    border:none;
    background-color: var(--color--lightblue);
}

.filler{
    background: var(--color--lightgreen);
    height: 100%;
    border-radius: inherit;
    // transition: width .2s ease-in;
}