.b-button{
    background-color: var(--color--white);
    color: var(--color--darkblue);
    border: none;
    border-radius: 5px;
    
    font-size: 18px;
    font-weight: 600;
    padding:1rem;

    margin: 16px 0;

    width: 100%;

    &--inverted{
        background-color: var(--color--bckgDark);
        color: var(--color--white);
    }

    &--fixed{
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 9%;
        margin-bottom: 64px;
        width: 82%;
    }

    &--blue{
        background-color: var(--color--lightblue);
        display: flex;
        justify-content: start;
        font-size: 15px;
        font-weight: 500;
    }
}