.b-round-button{
    background-color: var(--color--white);
    color: var(--color--darkblue);
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    padding:1.25rem 1.5rem;
    font-size: 3rem;
    margin-bottom: 1rem;

    &--create{
        background-color: var(--color--lightblue);
        
    }

    &--fixed{
        position:fixed;
        bottom: 0;
        right:0;
        margin-right: 1rem;
        margin-bottom: 2rem;
        color: var(--color--blue);
    }

}
