.b-round-sec-btn{
    &__container{
        display: flex;
        flex-wrap: wrap;
    }

    &__button{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-around;
        justify-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1rem;

        min-width: 70px;
        height: 40px;

        border: 1px solid var(--color--lightgrey);
        border-radius: 20px;

        margin: 0 5px 10px 5px;
        padding: 10px;

        color: var(--color--bluefont);
        background-color: var(--color--lightgrey);

        &__icon{
            font-size: 20px;
            font-weight: bold;
            color: var(--color--green);
            &--red{
                color: var(--color--red);
            }
        }
    }
}