.b-social-btn{
    border-style: none;
    border-radius: 10px;
    
    padding: 0;
    
    width: 27.5%;
    overflow: hidden;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}