.c-notifications{
    padding-top: 3rem;
    flex-direction: column;

    &__container{
        background-color: var(--color--lightblue);
        padding:0.5rem 0;
        padding-left: 2rem;

        &__text{
            margin-block:0;
            font-weight: bold;
            color: var(--color--darkblue);
        }

        &__distrobution{
            display: flex;
            flex-direction: row;
            background-color: transparent;
            padding: 1rem 0;

            &--icon{
                font-size: 2rem;
                color:var(--color--white);
                margin-left: 1rem;
                margin-right: 1rem;
                font-weight: bold;

                &--green{
                    // color:var(--color--lightgreen);
                }
            }

            &--text{
                display: flex;
                flex-direction: column;
                margin-right: 1rem;
                font-size: 0.7rem;
                color: var(--color--white);
                
                & p{
                    margin-block:0;
                }

                &--title{
                    // color:var(--color--lightgreen);
                    padding-bottom: 5px;
                }
            }

            &--moreHorizontal{
                font-size: 1.3rem;
                color: var(--color--white);
                margin-right: 1rem;
                margin-top: 0.5rem;
                font-weight: bold;
            }
        }

        &__distrobution2{
            display: flex;
            flex-direction: row;
            background-color: transparent;
            padding: 1rem 0;

            &--icon{
                font-size: 2rem;
                color:var(--color--grey);
                margin-left: 1rem;
                margin-right: 1rem;
                font-weight: bold;

                &--green{
                    // color:var(--color--lightgreen);
                }
            }

            &--text{
                display: flex;
                flex-direction: column;
                margin-right: 1rem;
                font-size: 0.7rem;
                color: var(--color--grey);
                
                & p{
                    margin-block:0;
                }

                &--title{
                    // color:var(--color--lightgreen);
                    padding-bottom: 5px;
                }
            }

            &--moreHorizontal{
                font-size: 1.3rem;
                color: var(--color--grey);
                margin-right: 1rem;
                margin-top: 0.5rem;
                font-weight: bold;
            }
        }
    }
}