// .casa{
//     position: relative;
// }

.padding-bottom-header{
    padding-bottom: 40%;
}

.c-candidate{
    background-color:var(--color--darkText);
    color:white;
    
    &__container{
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        background-color: var(--color--palegrey);
        border-top-left-radius: 30px 30px;
        border-top-right-radius: 30px 30px;
        color: var(--color--darkText);

        &--img{
            width: 12rem;
            height: 12rem;
            border-radius: 150px;
            text-align: center;
            justify-content: center;
            position: absolute;
            left:25%;
            top:13%;
        }

        // &--edit{
        //     display: flex;
        //     justify-content: end;
        //     font-size: 1.5rem;
        //     position: relative;
        //     right:1.5rem;
        //     top:16rem;
        // }

        &--centered{
            justify-content: center;
            text-align: center;
            color: var(--color-darkText);

            & h3{
                font-size: 2rem;
                font-weight: bold;
            }

            & h4{
                font-size: 1.5rem;
                color: var(--color--bckgDark);
            }

            & span{
                margin:0 12px;
                color:var(--color--darkblue);
                font-size: 2rem;
            }

            & hr{
                width:85%;
                text-align: center;
                justify-content: center;
                color:var(--color--lightgrey);
                margin-top:1.25rem;
            }
        }

        &--information{
            color:var(--color--darkblue);
            font-size: 2rem;

            &--part{
                display: flex;
                flex-direction: row;
                color:var(--color--grey);
                font-size: 1rem;
                margin-bottom: 1rem;
     
                &--bold{
                    font-weight: bold;                    
                }

                & h6{
                    font-size: 1.5rem;
                    color: var(--color--blue);
                    margin-block: 0;                    
                    margin-right: 1rem;
                }

                & span{
                    margin-right: 1rem;
                    color: var(--color--blue);
                    font-size:1.5rem;
                }

                & p{
                    margin-block-end: 0;
                    margin-block-start: 0;
                }
            }
        }
    }
}

.item-word{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    color: var(--color--bluefont);
    background-color: var(--color--lightblue);
    
    &--var{
        background-color:var(--color--blue);
        color:var(--color--white);
    }
}

.distrobution-words{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.b-header__heartIcon{
    margin-right: 2rem;
    color:var(--color--lightgreen);
}