.c-messages{
    display: flex;
    flex-direction: column;

    &__directory{
        flex-direction: row;
        display: flex;
        color: var(--color--lightgrey);
        font-size: 1rem;
        justify-content: space-between;
        font-weight: bold;

        --active{
            color: var(--color--lightgreen);
        }

    }
}