.c-passwordEye{
    position: relative;
    width: 100%;

    &__icon{
        color: var(--color--bluefont);
        position: absolute;
        right: 20px;
        top: 26px;
        font-size: 24px;
        cursor: pointer;
    }
}
