// //******************************************************************************
// //  #COLORS VARIABLES
// //******************************************************************************

:root {

    //TEXTOS
    --color--white: #ffffff;

    //??
    --color--darkText: #0d202a;
    --color--bckgDark: #02202a;

    --color--darkblue: #0b4f6e;
    --color--bluefont: #2b81a8;
    --color--blue: #00b3cd;
    --color--lightblue: #d8eef8;
    --color--light--blueBtn: #effaff;

    --color--darkgreen: #44af69;
    --color--lightgreen: #00ffa1;

    --color--grey: #6d7278;
    --color--lightgrey: #d9d9db;
    --color--palegrey: #f8fafb;

    --color--yellow: #ffd71f;

    --color--red: #930000;
}

//OPACITY (?)