.c-badge{
    position: relative;
    display: inline-block;

    &__icon{
        display: inline-block;
        margin-left: 10px;
        font-size: 1.5rem;
        color: var(--color--darkblue);
    }

    &__notification{
        min-width: 24px;
        height: 24px;

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -10px;
        left: calc(100% - 10px);
        padding: 5px;

        font-size: 11px;
        font-weight: bold;
        
        border: solid 2px var(--color--palegrey);
        border-radius: 12px;
        background: var(--color--lightgreen);
        color: var(--color--darkblue);
    }
}