.c-fullPageFigure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    &__logoContainer {
        margin-bottom: 28px;

        & h3{
        color: var(--color--blue);
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
        }
    }

    &__illustration{
        width: 80%; 
        margin-bottom: 80px;

        &--popup{
            width: 110%;
            margin-bottom: -10px;
        }
    }

    &__logo{
        width: 80%;
        margin-left: 10px; //NO QUEDA CENTRADO BIEN, COSA DE LA IMAGEN ???
    }

    &__textLogo{
        width: 50%;
    }

    &__text{
        padding: 0 5%;

        font-weight: 500;
        line-height: 30px;
        font-size: 18px;

        &--popup{
            font-weight: 400;
            font-size: 20px;
            line-height: 36px;
            margin: 0;
            margin-bottom: 48px;
        }
    }

    &__title{
        font-size: 34.75px;
    }
}