.b-input{
    width: 100%;
    padding: 18px;
    border: 1px solid var(--color--lightgrey);
    border-radius: 10px;

    border-style: none;

    font-size: 15px;
    font-weight: 500;

    margin: 16px 0;

    &::placeholder{
        font-weight: 400;
    }

    &--white{
        // color: var(--color--grey);
        // background-color: var(--color--white);
        // border-color: var(--color--lightgrey);
        border-style: solid;
        border-width: 1px;
    }
}