.b-label{
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    color: var(--color--darkblue);

    flex-grow: 1;

    & span{
        font-size: 1.25rem;
        color: var(--color--blue);
    }

    &--bold{
        font-weight: bold;
    }

    &--nomargin{
        padding-left: 0;
    }

    &__sectionTitle{
        padding-left: 0;
    }

    &__sectionSubtitle{
        margin-top: 5px;
        font-size: 13px;
        color: var(--color--blue);
    }
}