.b-password{
    margin-top: 7px;
    width: 82%;
    padding: 18px;
    border: 1px solid var(--color--lightgrey);
    border-radius: 10px;

    width: 100%;
    font-size: 15px;

    //CUIDADO QUE CAMBIAN, poner mods??
    color: var(--color--bluefont);
    background-color: var(--color--light--blueBtn);

    &--white{
        color: var(--color--grey);
        background-color: var(--color--white);
    }

    &--first{
        margin-top: 0;
    }
}