.b-select{
    margin: 7px 0;
    width: 82%;
    padding: 18px;
    border: 1px solid var(--color--lightgrey);
    border-radius: 10px;

    width: 100%;
    font-size: 15px;
    color: var(--color--bluefont);

    background: url("../../../assets/fonts/icons/downIcon.svg") no-repeat var(--color--light--blueBtn);
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    background-size: 20px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &--white{
        color: var(--color--grey);
        background-color: var(--color--white);
    }

    &--first{
        margin-top: 0;
    }
}