.h-ctop{
    display:flex;
    flex-direction: column;
    color:var(--color--darkText);

    &__direction{
        display: flex;
        flex-direction: row;
        color:var(--color--darkText);
        padding-top: 1rem;

        &__order{
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-bottom: 3.5rem;
            
            &--darkblue{
                color:var(--color--darkblue);
            }

            &--grey{
                color:var(--color--grey);
            }
        }

        & h5, p{
            margin: 0px;
        }
    }
}

.barra-style{
    height:7.8rem;
    width: 2px;
    margin-top:0;
    margin-bottom: 0;
    border-color: var(--color--darkblue);
}

.ball-style{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: var(--color--lightgreen);
    border:2px solid var(--color--darkblue);
}

.padding-top-h{
    padding-top: 7.4rem;
}

.padding-top{
    padding-top: 3.5rem;
}

.checkbox-position{
    display:flex;
    justify-content:space-between;
    padding-bottom: 6.8rem;
}

.h-hr-style{
    width: 80%;
    text-align: center;
    border:0.5px solid var(--color--lightgrey);
}

.h-titles-styles{
    font-weight: bold;
    color: var(--color--darkText);
}