.c-administrators{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    &--title{
        padding-bottom: 5rem;
        padding-top:2.5rem;

        &--top{
            font-size: 1rem;
            color:var(--color--palegrey);
            margin-bottom: 1rem;
            margin-block:0;
        }

        &--company{
            font-size: 2rem;
            color:var(--color--white);
            margin-block:0;
        }
    }

    &--profile{
        border-bottom: 1px solid var(--color--lightgrey);
        padding-bottom: 1rem;
        font-weight: bold;
        color:var(--color--whhite);

        &--img{
            width: 7rem;
            height: 7rem;
            border-radius: 100%;
            object-fit: cover;
            object-position: 100% 0;
            margin-bottom: 1rem;
        }
    }

    &--add{
        padding-top:4rem;

        &__styles{
            margin-top:1.5rem;
            font-size: 1rem;
            color:var(--color--darkgreen);
        }
    }
}