.c-candidateCard{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    

    // background-color: red;
    // border: 1px solid;

    &__image{
        z-index: 2;
        width: 69pt;
        height: 69pt;
        border-radius: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &__container{
        text-align: center;
        z-index: 1;
        width: 100%;
        border-radius: 10px;
        margin-top: -21pt;
        padding-top: 21pt;
        padding-bottom: 5pt;
        box-shadow: 0 0 19pt 0 rgba(0, 0, 0, 0.1);
        background-color: var(--color--white);
        
        & > *{
            margin: 5pt 0 0 0;
            padding: 0;
        }
        
    }

    &__separator{
        opacity: 30%;
    }

    &__name{
        font-weight: 500;
        color: var(--color--darkblue);
    }
    &__profession{
        font-weight: 500;
        color: var(--color--blue);
    }
    &__data{
        display: flex;
        justify-content: space-around;
        font-weight: normal;
        color: var(--color--grey);
        font-size: 14px;
        padding: 3px 0;
    }

}