.c-header{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


    
    &__leftIcon{
        flex: 1;
        font-size: 23px;
        margin-left: 5%;
        padding-top: 2px; //??
        align-self: center;
    }

    &__title{
        flex: 6;
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 20px;

        &--translucid{
            opacity: 20%;
        }
        &--img{
            padding:0 35%;
            padding-bottom:0.5rem;
            padding-top: 1rem;
        }
       
    }

    &__rightIcon{
        flex: 1;
        text-align: end;
        margin-right: 5%;
        font-size: 21px;
        padding-top: 6px; //??
    }
}