.c-offercard{
    padding:0 8%;
    width: 100%;
    color:var(--color--darkblue); 
    background-color: var(--color--white);
    display: flex;
    flex-direction: column;
    border-radius: 10px;


    &__infoDetail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__mainInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        & span{
            margin:1em 0;
            margin-right: 6.5px;
        }

        &__box{
            display: flex;
            flex-direction: row;
            color: var(--color--grey);
            
        }
    }

    &__lowOffer{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        flex:1;

        & hr{
            color:var(--color--grey);
        }

        &--direction{
            flex-direction: row;
            text-align: center;
        }
        &--alternative{
            flex-direction: row;
            margin-bottom: 9rem;
        }
        &--centered{
            text-align: center;
            justify-content: center;
            align-items: center;

            & img{
                width: 8rem;
                margin-bottom: 0.5rem;
            }

            & span{
                font-size:3rem;
                margin-bottom: 1.75rem;
                padding-top: 1.25rem;
            }
            
        }
    }
}

.offertitle{
    color: black;
    font-size: 2rem;
}

.offerbold{
    font-weight: bold;
    margin-bottom: 1rem;
}