.c-textArea {
    display: flex;
    flex-direction: column;
    margin-top: 7px;

    &__field {
        width: 100%;
        padding: 20px 16px;
        border: 1px solid var(--color--lightgrey);
        border-radius: 10px;

        font-size: 1rem;

        //CUIDADO QUE CAMBIAN, poner mods??
        color: var(--color--bluefont);
        background-color: var(--color--white);

        resize: none;

        &::placeholder {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            color: var(--color--grey);
            font-size: 15px;
        }
    }

    &__charNumber{
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);
        align-self: flex-end;
        padding: 0;
        margin: 11px 0 0 0;
    }
}
