.b-main {
  height: 92.5%;
  padding:0 9%;
  padding-top: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  &--wSearch{
    height: 87.3%;
  }

  &--center{
    justify-content: center;
  }

  &--round{
    background-color: var(--color--bckgDark);
    color: var(--color--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}