.b-separator {
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    width: 100%;
  }
    
  .b-separator::before,
  .b-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
  }
  
  .b-separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .b-separator:not(:empty)::after {
    margin-left: .25em;
  }