@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.ttf?wfx4jt") format("truetype"), url("fonts/icomoon.woff?wfx4jt") format("woff"), url("fonts/icomoon.svg?wfx4jt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bar-chart:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-bell-off:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-edit-2:before {
  content: "";
}

.icon-edit-3:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eye-off:before {
  content: "";
}

.icon-file-text:before {
  content: "";
}

.icon-globe:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-layout:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-map-pin:before {
  content: "";
}

.icon-more-horizontal:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-plus-square:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-trash-2:before {
  content: "";
}

.icon-unlock:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-video:before {
  content: "";
}

.icon-x:before {
  content: "";
}

.icon-messages:before {
  content: "";
}

.icon-heart-o:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-stack:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-key2:before {
  content: "";
}

.icon-equalizer:before {
  content: "";
}

.icon-switch:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}
/*# sourceMappingURL=style.css.map */