$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-bar-chart: "\e902";
$icon-bell: "\e903";
$icon-bell-off: "\e904";
$icon-briefcase: "\e905";
$icon-calendar: "\e91f";
$icon-check: "\e906";
$icon-chevron-down: "\e907";
$icon-chevron-left: "\e908";
$icon-chevron-right: "\e909";
$icon-chevron-up: "\e90a";
$icon-edit-2: "\e90b";
$icon-edit-3: "\e90c";
$icon-eye: "\e90d";
$icon-eye-off: "\e90e";
$icon-file-text: "\e910";
$icon-globe: "\e911";
$icon-home: "\e912";
$icon-layout: "\e913";
$icon-lock: "\e914";
$icon-mail: "\e920";
$icon-map-pin: "\e915";
$icon-more-horizontal: "\e916";
$icon-phone: "\e921";
$icon-plus-square: "\e917";
$icon-trash: "\e918";
$icon-trash-2: "\e919";
$icon-unlock: "\e91a";
$icon-user: "\e91b";
$icon-users: "\e91c";
$icon-video: "\e91d";
$icon-x: "\e91e";
$icon-messages: "\e90f";
$icon-heart-o: "\e900";
$icon-heart: "\e901";
$icon-stack: "\e92e";
$icon-search: "\e986";
$icon-key2: "\e98e";
$icon-equalizer: "\e992";
$icon-switch: "\e9b6";
$icon-google: "\ea88";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-linkedin: "\eac9";

