.construction{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40%;
    flex-direction: column;
    color: var(--color--darkText);
    font-size: 5rem;
    max-height: 100%;
    max-width: 100%;

    &--direction{
        display: flex;
        flex-direction: row;
      
        font-size: 5rem;
    }

    &--text{
        font-size: 2rem;
        margin-top: 1rem;
    }
}

.icon{
    height: 100px;
    width: 100px;
    
    &--pacman{
        background: url(../../assets/fonts/icons/pacman.svg) no-repeat transparent;
        background-position: center;
        background-size: 100%;
    }
    
    &--dots{
        background: url(../../assets/fonts/icons/dots-two-horizontal.svg) no-repeat transparent;
        background-position: center;
        background-size: 100%;
    }

    &--warning{
        background: url(../../assets/fonts/icons/warning.svg) no-repeat transparent;
        background-position: center;
        background-size: 100%;
    }
}