html {

    // HACER ESTAS VARIABLES !!!!
    // font-size: $base-font-size;
    // line-height: $base-line-height;
    // color: $base-font-color;
    // background-color: $base-background-color;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    // font-family: $base-font-family;
    font-family: 'Montserrat', sans-serif;

    position: relative;
    width: 100%;
    height: 100%;
}