.c-login{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo{   
    width: 80%;
    margin-top: 64px; 
  }

  &__form{
    width: 100%;
    margin-top: 16px;
  }

  &__restore-link{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    & a{
      color: var(--color--lightgreen);      
    }
  }
  
}

.c-warning2{

  display: block;
  text-align: center;
  font-size: 15px;
  background-color: var(--color--red);
  padding: 0.2rem 0;
  border-radius: 10px;
}