.c-restore-password{
    width: 100%;
    
    & .b-button{
      margin-top: 17.5%; 
    }

    &__form{
      width: 100%;
    }
  }

.c-warning2{

  display: block;
  text-align: center;
  font-size: 15px;
  background-color: var(--color--red);
  padding: 0.2rem 0;
  border-radius: 10px;
}